<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        <p></p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-clock-o fa-3x"></i>
          <div class="info">
            <h4 class="text-center">All Time</h4>
            <p  class="text-center"><b>{{AllTime}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon"><i class="icon fa fa-clock-o fa-3x"></i>
          <div class="info">
            <h4 class="text-center">All Time Work</h4>
            <p class="text-center"><b>{{AllTimeWorking}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class="icon fa fa-clock-o fa-3x"></i>
          <div class="info">
            <h4 class="text-center">All Time Student</h4>
            <p class="text-center"><b>{{AllTimeStundent}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon"><i class="icon fa fa-wrench fa-3x"></i>
          <div class="info">
            <h4 class="text-center">All Count</h4>
            <p class="text-center"><b>{{countAll}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary"><i class="icon fa fa-clock-o fa-3x"></i>
          <div class="info">
            <h4 class="text-center">All Time DAY</h4>
            <p  class="text-center"><b>{{AllTimeDay}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small warning"><i class="icon fa fa-clock-o fa-3x"></i>
          <div class="info">
            <h4 class="text-center">Time Work DAY</h4>
            <p class="text-center"><b>{{AllTimeWorkingDay}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger"><i class="icon fa fa-clock-o fa-3x"></i>
          <div class="info">
            <h4 class="text-center">Time Student DAY</h4>
            <p class="text-center"><b>{{AllTimeStudentDay}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small info"><i class="icon fa fa-wrench fa-3x"></i>
          <div class="info">
            <h4 class="text-center">Count Work Day</h4>
            <p class="text-center"><b>{{countDay}}</b></p>
          </div>
        </div>
      </div>
      <!-- 
      <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
          <div class="info">
            <h4>Stars</h4>
            <p><b>500</b></p>
          </div>
        </div> 
      </div> -->
    </div>
  </main>