<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="../../../assets/bruno.jpeg" alt="User Image">
    <div>
      <p class="app-sidebar__user-name">Bruno Asuncion</p>
      <p class="app-sidebar__user-designation">Frontend Developer</p>
    </div>
  </div>
  <ul class="app-menu">
    <li (click)="clickEventMenu('dashboard')"><a class="app-menu__item active" href="#"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
    <li (click)="clickEventMenu('time-working')"><a class="app-menu__item active" href="#"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Time Working</span></a></li>        
    <li (click)="clickEventMenu('type-work')"><a class="app-menu__item active" href="#"><i class="app-menu__icon fa fa-address-card"></i><span class="app-menu__label">Type Work</span></a></li>        
    <li (click)="clickEventMenu('projects-work')"><a class="app-menu__item active" href="#"><i class="app-menu__icon fa fa-address-book-o"></i><span class="app-menu__label">Projects Work</span></a></li>        
  </ul>
</aside>